name: Publish to Marketplace

on:
  release:
    types: [ created ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - run: chmod +x gradlew
      - run: ./gradlew buildPlugin

      - name: Publish to JetBrains Marketplace
        uses: CodingWithCalvin/GHA-JBMarketplacePublisher@v1
        with:
          marketplace-pat: ${{ secrets.MARKETPLACE_PAT }}
          archive-path: build/distributions/SecretKeeper-*.zip
          plugin-id: 25768