name: Release Assets

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17  # i'd like to use 25 it breaks compilation somehow

      - uses: gradle/actions/setup-gradle@v5

      - run: chmod +x gradlew

      - name: Build plugin
        run: ./gradlew buildPlugin

      - name: Debug - Find ZIP
        run: |
          find build/distributions -type f -name "*.zip"

      - name: Publish to JetBrains Marketplace
        run: ./gradlew publishPlugin
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: build/distributions/SecretKeeper-*.zip